# 모든 파일 무시
*

# .gitignore 파일은 예외로 설정
!.gitignore

# 파일 예외
!*.py
!*.ipynb
!*.md
!*.png
!*.jpg
!*.yaml
!Dockerfile*
!requirements.txt

# 폴더 내부 파일 포함
!*/

# 폴더 내부 파일 포함
!**/*.py
!**/*.ipynb
!**/*.md
!**/*.yaml

# 폴더 내의 파일 무시
/other/*.py
/other/*.ipynb
/other/*.md
/other/**/*.py
/other/**/*.ipynb
/other/**/*.md
/DLthon/*.py
/DLthon/*.ipynb
/DLthon/*.md
/DLthon/**/*.py
/DLthon/**/*.ipynb
/DLthon/**/*.md

.idea/*
/0604/**/*.jpg
/0604/**/*.png
/keras_book_code/**/*.png
/keras_book_code/**/*.jpg
/sementic_seg/**/*.jpg
/0716_GOINGDEEPER_07/**/*.png